<!DOCTYPE html>
<html lang="<%- config.language %>">

<head>
  <%- partial('./_partial/head') %>
<link rel="stylesheet" href="\assets\css\APlayer.min.css" class="aplayer-style-marker">
<script src="\assets\js\APlayer.min.js" class="aplayer-script-marker"></script>
<script src="\assets\js\Meting.min.js" class="meting-script-marker"></script>
</head>

<body>
<div class="aplayer no-destroy" data-id="3232557556" data-server="tencent" data-type="playlist" data-fixed="true" data-autoplay="false"> </div>

  <!-- app wrapper -->
  <div class="trm-app-frame">

    <!-- page preloader -->
    <%- partial('./_partial/preloader/page-preloader') %>
    <!-- page preloader end -->

    <!-- change mode preloader -->
    <%- partial('./_partial/preloader/change-mode-preloader') %>
    <!-- change mode preloader end -->

      <!-- scroll container -->
      <div id="trm-dynamic-content" class="trm-swup-animation">
        <div id="trm-scroll-container" class="trm-scroll-container" data-scroll-container style="opacity: 0">
          <div data-scroll-section id="content" class="trm-scroll-section">

            <div class="locomotive-scroll__sticky-target" style=" position: absolute; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none;"></div>

            <!-- top bar -->
            <%- partial('./_partial/header') %>
            <!-- top bar end -->

            <!-- body -->
            <%- body %>
            <!-- body end -->
          </div>
        </div>
      </div>
      <!-- scroll container end -->

  </div>
  <!-- app wrapper end -->

  <%- partial('./_widget/back-to-top') %>
  <%- partial('./_widget/search') %>
  <%- partial('./_partial/script') %>

</body>

</html>